/* Styling the Body and text fonts*/
body {
    background:lavender
    ;
    font-family: "Montserrat", sans-serif;

}

/* Styling the Navbar*/
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #7C3FF6;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 2px 10px;
}

#mainNavbar.navbar.scrolled .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #2F0B76;
    font-size: 22px;
    font-weight: bold;

}

#mainNavbar .navbar-brand {
    color: #7C3FF6;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #C0A9ED;
    transition: background 300ms;

}

/* Adjusting the anchors to each sections so that the header is not hidden by the navbar. Try commenting the code below this specific comment to see how the section
header gets hidden by the navbar*/

#aboutme,
#projects,
#experience,
#leadership,
#interests {
    scroll-margin-top: 100px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 90%;
    height: auto;
    margin: 10px;
}
.slidershow{
    width: 450px;
    height: 500px;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 20px 10px 0 10px;
    cursor: pointer;
    transition: 0.4s;
    border-color: white;
  }
  .dot:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }